@using FlyCalculator.Web.Models

    <div class="form-group container">
        <h5>@title</h5>
        <div class="row">
            <div class="col-md-2">
                <label>Etapa</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@model.Etapa.Tempo" @oninput="e => AtualizaValores(e, model.Etapa)"/>
            </div>
            <div class="col-md-5">
                <input type="number" value="@model.Etapa.Litros" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Alternado</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@model.Alternado.Tempo" @onchange="e => AtualizaValores(e, model.Alternado)" />
            </div>
            <div class="col-md-5">
                <input type="number" value="@model.Alternado.Litros" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Reserva</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@model.Reserva.Tempo" @onchange="e => AtualizaValores(e, model.Reserva)" />
            </div>
            <div class="col-md-5">
                <input type="number" value="@model.Reserva.Litros" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><b>Mínimo Requirido: </b></label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@model.MinimoRequirido.Tempo.ToString("c")" disabled/>
            </div>
            <div class="col-md-5">
                <input type="number" value="@model.MinimoRequirido.Litros" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Adicional</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@model.Adicional.Tempo" @onchange="e => AtualizaValores(e, model.Adicional)" />
            </div>
            <div class="col-md-5">
                <input type="number" value="@model.Adicional.Litros" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><b>Total a Bordo: </b></label>
            </div>
            <div class="col-md-5">
                <input type="text" value="@model.Total.Tempo.ToString("c")" disabled/>
            </div>
            <div class="col-md-5">
                <input type="number" value="@model.Total.Litros" disabled/>
            </div>
        </div>
    </div>

@code {
    private string title = "Cálculo de Autonomia";
    protected CalculoAutonomia model = new CalculoAutonomia();

    private void AtualizaValores(ChangeEventArgs args, Autonomia autonomia)
    {
        if (TimeSpan.TryParse(args.Value.ToString(), out TimeSpan newValue))
        {
            autonomia.Litros = model.CalculaQuantidade(autonomia.Tempo);
            autonomia.Tempo = newValue;
            model.CalculaMinimoRequirido();
            model.CalculaTotal();
        }
    }
}
