@using FlyCalculator.Web.Models

    <div class="form-group container">
        <h5>@title</h5>
        <div class="row">
            <div class="col-md-2">
                <label>Etapa</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@Model.Etapa.Tempo" @oninput="e => AtualizaValores(e, Model.Etapa)"/>
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.Etapa.Litros.ToString("#,#.##")" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Alternado</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@Model.Alternado.Tempo" @onchange="e => AtualizaValores(e, Model.Alternado)" />
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.Alternado.Litros.ToString("#,#.##")" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Reserva</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@Model.Reserva.Tempo" @onchange="e => AtualizaValores(e, Model.Reserva)" />
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.Reserva.Litros.ToString("#,#.##")" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><b>Mínimo Requirido: </b></label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@Model.MinimoRequirido.Tempo.ToString("c")" disabled/>
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.MinimoRequirido.Litros.ToString("#,#.##")" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Adicional</label>
            </div>
            <div class="col-md-5">
                <input type="time" value="@Model.Adicional.Tempo" @onchange="e => AtualizaValores(e, Model.Adicional)" />
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.Adicional.Litros.ToString("#,#.##")" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><b>Total a Bordo: </b></label>
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.Total.Tempo.ToString("c")" disabled/>
            </div>
            <div class="col-md-5">
                <input type="text" value="@Model.Total.Litros.ToString("#,#.##")" disabled/>
            </div>
        </div>
    </div>

@code {
	private string title = "Cálculo de Autonomia";

	[Parameter]
	public CalculoAutonomia Model { get; set; } = new CalculoAutonomia();

    [Parameter]
	public EventCallback<CalculoAutonomia> ModelChanged { get; set; }

	private async Task AtualizaValores(ChangeEventArgs args, Autonomia autonomia)
	{
		if (TimeSpan.TryParse(args.Value.ToString(), out TimeSpan newValue))
		{
			autonomia.Tempo = newValue;
			autonomia.Litros = Model.CalculaQuantidade(newValue);
			Model.CalculaMinimoRequirido();
			Model.CalculaTotal();
		}

        await ModelChanged.InvokeAsync(Model);
	}
}
