@using FlyCalculator.Web.Models

<div class="form-group container">
    <h5>@title</h5>
    <div class="row">
        <div class="col-md-3">
            <label>Peso Básico Vazio</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.PesoBasicoVazio.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.PesoBasicoVazio.Braco" />
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoBasicoVazio.Momento.ToString("#,#.###")" disabled/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Ocupantes assentos dianteiros</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.Ocupantes.Peso" />
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Ocupantes.Braco.ToString("#,#.###")" disabled/>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Ocupantes.Momento.ToString("#,#.###")" disabled/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Bagageiro (Max. 54 Kg)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.Bagageiro.Peso" />
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Bagageiro.Braco.ToString("#,#.###")" disabled />
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Bagageiro.Momento.ToString("#,#.###")" disabled />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso Zero Combustível</label>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoZeroCombustivel.Peso.ToString("#,#.###")" disabled />
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoZeroCombustivel.Braco.ToString("#,#.###")" disabled />
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoZeroCombustivel.Momento.ToString("#,#.###")" disabled />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Combustível</label>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Combustivel.Peso.ToString("#,#.###")" disabled/>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Combustivel.Braco.ToString("#,#.###")" disabled/>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.Combustivel.Momento.ToString("#,#.###")" disabled/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso de Decolagem</label>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoDecolagem.Peso.ToString("#,#.###")" disabled/>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoDecolagem.Braco.ToString("#,#.###")" disabled/>
        </div>
        <div class="col-md-3">
            <input type="text" value="@Model.PesoDecolagem.Momento.ToString("#,#.###")" disabled/>
        </div>
    </div>
    <div class="row">
            <div class="col-md-3">
                <label>Comb. da Etapa</label>
            </div>
            <div class="col-md-3">
                <input type="text" value="@Model.CombustivelEtapa.Peso.ToString("#,#.###")" disabled />
            </div>
            <div class="col-md-3">
                <input type="text" value="@Model.CombustivelEtapa.Braco.ToString("#,#.###")" disabled />
            </div>
            <div class="col-md-3">
                <input type="text" value="@Model.CombustivelEtapa.Momento.ToString("#,#.###")" disabled />
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-3">
                <label>Peso de Pouso</label>
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.PesoPouso.Peso" />
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.PesoPouso.Braco" />
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.PesoPouso.Momento" />
            </div>
        </div>*@
</div>

@code {
	private string title = "Cálculos de Peso e Balanceamento";
	[Parameter]
	public CalculoAutonomia CalculoAutonomia { get; set; }

	[Parameter]
	public EventCallback<CalculoAutonomia> CalculoAutonomiaChanged { get; set; }

	private CalculoPesoBalanceamento Model { get; set; }

	protected override void OnInitialized()
	{
		Model = new CalculoPesoBalanceamento(CalculoAutonomia);
	}
}
