@using FlyCalculator.Web.Models

<div class="form-group container">
    <h5>@title</h5>
    <div class="row">
        <div class="col-md-3">
            <label>Peso Básico Vazio</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.PesoBasicoVazio.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.PesoBasicoVazio.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.PesoBasicoVazio.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Ocupantes assentos dianteiros</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.Ocupantes.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.Ocupantes.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.Ocupantes.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Bagageiro (Max. 54 Kg)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.Bagageiro.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.Bagageiro.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="Model.Bagageiro.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso Zero Combustível</label>
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.PesoZeroCombustivel.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.PesoZeroCombustivel.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.PesoZeroCombustivel.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Combustível (___ Lts x 0.72 kg/l)</label>
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.Combustivel.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.Combustivel.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.Combustivel.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso de Decolagem (Max. 757 Kg)</label>
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.PesoDecolagem.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.PesoDecolagem.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" value="@Model.PesoDecolagem.Momento" />
        </div>
    </div>
    <div class="row">
            <div class="col-md-3">
                <label>Comb. da Etapa (___ Lts x 0.72 kg/l)</label>
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.CombustivelEtapa.Peso" />
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.CombustivelEtapa.Braco" />
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.CombustivelEtapa.Momento" />
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-3">
                <label>Peso de Pouso (Max. 757 Kg)</label>
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.PesoPouso.Peso" />
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.PesoPouso.Braco" />
            </div>
            <div class="col-md-3">
                <input type="number" value="@Model.PesoPouso.Momento" />
            </div>
        </div>*@
</div>

@code {
    private string title = "Cálculos de Peso e Balanceamento";
    [Parameter]
    public CalculoAutonomia CalculoAutonomia { get; set; }

    [Parameter]
    public EventCallback<CalculoAutonomia> CalculoAutonomiaChanged { get; set; }

    private CalculoPesoBalanceamento Model { get; set; }

    protected override void OnInitialized()
    {
        Model = new CalculoPesoBalanceamento(CalculoAutonomia);
    }
}
